*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px dashed darkred;
}

.container-centered{
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
}

/*-----------------------------nav------------------------------------------------------------*/

nav{
    height: 100px;
    background-color: #0084FD;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

nav .container-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 60%;
}

nav i{font-size: 2em;
color: white;}

/*-----------------------------header---------------------------------------------------------*/

header{
    padding-top: 150px;
    padding-bottom: 90px;
}

#flex-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.riquadro-header{
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #B5DDFF;
    border-radius: 30px;
}

.riquadro-header img{
    width: 100%;
}

#flex-riquadro-header{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.flex-h2-lorem{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.flex-icona-h2-lorem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    margin-bottom: 42px;
}

.flex-icona-h2-lorem p{
    text-align: center;
}

/*-----------------------------main-----------------------------------------------------------*/

/*---sezione strategic------------------------*/

#strategic{
    background-color: #9792E4;
}

#strategic-planning img{
    width: 100%;
    margin-top: 65px;
    margin-bottom: 80px;
}

#strategic-planning h2{
    margin-bottom: 60px;
}

#strategic-planning p{
    margin-bottom: 45px;
}

#app-development{
    background-color: white;
    border-radius: 50px;
}

#app-development i{
    margin-bottom: 35px;
}

/*--------sez testimonials--------------------*/

#testimonials{
    padding-top: 55px;
    padding-bottom: 55px;
}

#testimonials p{
    text-align: center;
}

#flex-testimonials{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
/*--------sez benefits------------------------*/

#benefits h2{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.flex-benefits{
    display: flex;
    flex-direction: column;
}

.flex-benefits .riquadro-header{
    gap: 30px;
    padding-bottom: 30px;
    align-items: flex-start;
}

.flex-benefits .riquadro-header p{
    text-align: left;
}
/*----------sez about-------------------------*/

#aboutus{
    padding-top: 80px;
    padding-bottom: 60px;
}

#aboutus h2{
    margin-bottom: 45px;
}

#aboutus p{
    margin-bottom: 45px;
}

#aboutus-img img{
    border-radius: 50%;
    width: 55%;
    margin-bottom: 20px;
}

#aboutus-img p{
    margin-bottom: 20px;
}
/*------sez getstarted------------------------*/

/*-----------------------------footer---------------------------------------------------------*/